.nav {
	/*Fixed position keeps nav sticked to top and top=0 
    ensures that it is sticked to top permanently */
	position: fixed;
	top: 0;
	width: 100%;
	height: 28px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	/*Animation */
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.nav__black {
	background-color: #111;
}

.nav__logo {
	/* Always dealing with img use object-fit to maintain aspect ratio of img.*/
	position: fixed;
	left: 20px;
	width: 80px;
	object-fit: contain;
}
.nav__avatar {
	position: fixed;
	right: 20px;
	width: 30px;
	object-fit: contain;
}
